
    <nav>
        <div id="navlinks">
        <a id="active" href="#"> Home </a> 
        <%= link_to "Contact", contact_path %> 
        <%= link_to "Store", store_path %>
        </div>
    </nav>
    <header>
        <h1> The Turtle Heart </h1>
        <div class="bar"> </div>
        <h3> Handmade in Woodside, California </h3>
    </header>
    
    <div class="landing">
        <%= image_tag('home.jpg') %>
    </div>
    
    <%= image_tag('message.jpg', :id => 'test') %>
    <div class="paragraph" style="text-align:left;display:block;"><br><font color="#3a96b8" size="5">Turtle Heart</font><font size="3">&nbsp;is an independent accessory and clothing manufacture and retailer. All of our items are handmade in California with quality and outstanding attention to detail. We are built on the belief that what you wear should express who you are and be made to the highest standards, in the most responsible way possible.</font><br><br><font size="3">Community is important to us; after all, who would we be without one? We make a strong effort to positively impact our surroundings and give back to the environment.</font><br><br><font size="3">To do this, we've developed unique low run methods for handmade production in our California workshop. This allows us to give outstanding support to our customers while maintaining total control over style, design and the materials we use.</font></div>
    <div id="spacer"></div>