
    <nav>
        <div id="navlinks">
        <%= link_to "Home", home_path %>
        <a id="active" href="#"> Contact </a> 
        <%= link_to "Store", store_path %>
        </div>
    </nav>
    <header>
        <h1> The Turtle Heart </h1>
        <div class="bar"> </div>
        <h3> Handmade in Woodside, California </h3>
    </header>
    
    <div class="sub">
        <%= image_tag('sub.jpg') %>
    </div>
    <div align="center">
        <h2 style="color: #6ca29b;">Contact Us</h2>
        <h3 id="notice"><%= notice %></h3> 

    </div>
